
  

  
  .pin {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../img/pin.svg') no-repeat center/contain;
  }
  
// Golden Lille
// Project by Nathaniel Burlot "Balthazarn"
// Creative Commons - CC BY SA

// Root

:root {
// Setup
  --border-color: rgba(0, 0, 0, 1);

}

// html

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: serif;
    margin: 0;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
  }
  
  
  a {
    color: #007acc;
    text-decoration: underline;
  }

// Structure

.wrapper {
  display: grid;
  height: 100%;
  padding: 1rem;
  border: solid 2px var(--border-color);
  border-radius: 1rem;
  background:ivory;
}

.wrapper--home {
  justify-items: center;
  justify-content: center;
}

.topbar {
  justify-self: end;
}

.header { 
  display: flex;
  flex-direction: column;
}

// Objects

  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: #007acc;
    background: transparent;
    cursor: pointer;
  }